
.is-sticky {
  position: -webkit-sticky;  /*Safari*/ 
  position: sticky;
  top: 100px;
}

.entry-title-wrapper {
  margin-right: 10px;
  margin-top: 10px;
}

.entry-title {
	font-family: var(--font-family-main-titles);

  color: #686868;

	direction: rtl;
	/*transform-origin: left right;*/
	transform: rotate(270deg);

/*   text-align: right; */

  width: 25px;
  height: auto;
	margin: 0;
  white-space: nowrap;

  font-size: 1.5em;
  font-style: italic;
}

#content {
	text-align: left;
}

#content > * {
	flex: 0 1 auto;
	align-self: flex-start;
}

.divider-bar {
  width: 100%;
  height: 50px;
  background-image: 
    linear-gradient(
      transparent, 
      var(--cor-clara) 60%);
}

.divider-bar,
#footer {
  z-index: 3;  
}

aside#nav-bible {
	position: fixed;
	top: 110px;
  right: -290px;
	width: 290px;
	background-color: rgba(125, 185, 232, .7);
	border-bottom-left-radius: 10px;
	padding: .7em .5em;

  z-index: 2; /*front of modal-bg*/
  transition: all .5s;
}

aside.nav-bible-slide-in {
  right: 0!important; /* id takes precedence, use !important to override */
}

.modal-btn {
  font-family: inherit;

  direction: rtl;
	transform: rotate(270deg);
  white-space: nowrap;
  position: absolute;
  
  padding: 4px 7px;
  border-radius: 10px 10px 0 0;

  -webkit-appearance: none;
  border: none;
}

.capitulos-btn {
  top: 29px;
  left: -55px;
}

#modal-bg {
  position: fixed; 
  z-index: 1; /* behind of aside#nav-bible */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,.4);
  -webkit-animation: fading .5s;
  animation: fading .5s;
}

@keyframes fading {
  from { opacity: 0 }
  to { opacity: 1 }
}

/*aside#nav-bible:focus,
aside#nav-bible:hover {
	right: 0;
}*/



.nav-bible-wrapper {
  overflow: auto;
  height: calc(100vh - (110px + (0.7rem * 2) + 3px)); /*subtract 110px of #nav-bible top & .7em padding top/bottom & few pixels to not touch the bottom*/
  text-align: center;
}

.nav-bible-wrapper .nav-chapters h3 {
  margin-top: 0;
}

.nav-bible-wrapper h3 {
  margin-bottom: 0;
}

.entry-content {
	min-height: calc(100vh - (110px + (0.7rem * 2) + 3px)); /*subtract 110px of #nav-bible top & .7em padding top/bottom & few pixels to not touch the bottom*/
}

.linha-mais-info td {
  font-size: small;
  padding: 10px;
  font-style: italic;
  background-color: #fafad2;
  border-radius: 15px;
  /* border: 1px solid black; */
}

.linha-titulo td {
  padding: 10px;
  font-style: italic;
}

.linha-titulo td h3,
.linha-titulo td h4 {
  margin: 0;
}

.tabela-versiculos,
.tabela-livro-intro {
  font-family: var(--font-family-serif);
}

.tabela-versiculos .linha-conteudo td,
.tabela-livro-intro .linha-conteudo td {
  line-height: 1.7;
}

.linha-conteudo-ver {
  position: relative;
  top: 2px;
  vertical-align: baseline;
  text-align: right;
  font-weight: bold;
  font-size: small;
  color: #a9a9a9;
}

.linha-conteudo-refcruzada {
  font-family: var(--font-family-sans-serif);
  font-size: small;
  font-weight: bold;
  font-style: italic;
  color: #a9a9a9;
}

.linha-conteudo-refcruzada a {
  white-space: nowrap;
}

.breadcrumb-meta {
	margin-top: 0;
}

.deactivated { /*deactivate buttons ref to the same URI*/
  pointer-events: none;
  cursor: default;
  background-color: #ffff00!important;
  /*same as hover*/
  position: relative;
  top: 3px;
  border-bottom-width: 3px;
  margin-bottom: calc(2px + 3px);
}

/*.entry-title-placeholder {
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}*/

/*.is-active {
	height: calc(36px + 21.44px + 21.44px); padding + margin do h1
	display: block;
	/*padding: 100px;
	width: 100%;
}*/

.main-content {
	display: flex;
	align-items: flex-start;
}

#chapter-nav-left,
#chapter-nav-right {
  position: fixed;
  bottom: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#chapter-nav-left {
  left: 50px;
}
#chapter-nav-right {
  right: 50px;
}
#chapter-nav-left::before {
  content: "\f104"; /* angle-left */
  font-family: var(--font-family-fa5);
  font-weight: 900;
  font-size: 30px;
}
#chapter-nav-right::before {
  content: "\f105"; /* angle-right */
  font-family: var(--font-family-fa5);
  font-weight: 900;
  font-size: 30px;
}

.biblia-copyright td {
  border: 1px solid rgba(172, 175, 33, 0.35);
  font-style: italic;
  font-size: small;
  text-align: center;
  border-radius: 18px;
  margin: 86px;
  font-family: var(--font-family-sans-serif);
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}