//***********************
// BASE STYLES
//***********************
@import 'styles';

// only styles for BIBLIA section 
.is-sticky {
  position: sticky;
  top: 0;

  @include media(medium) {
    top: 100px;
  }
}

.entry-title {
  font-family: ffamily(main-titles);
  color: $preto;
  font-size: 1.5em;
  margin-right: 0.67em; //h1 padrao = 0
  margin-left: 0.67em; //h1 padrao = 0

  @include media(medium) {
    direction: rtl;
    transform: rotate(270deg);

    margin-right: 0; //h1 padrao
    margin-left: 0; //h1 padrao

    // width: auto;
    // height: auto;
    // margin: 0;
    white-space: nowrap;
  }
}

.entry-title__link {
  background-color: $azul-bg;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @include media(medium) {
    background-color: unset;
    // direction: rtl;
    // transform: rotate(270deg);
    width: 3em;
    // height: auto;
    // margin-right: 10px;
    // margin-top: 10px;
  }
}

// .entry-title-placeholder {
// 	margin: 0;
// 	padding: 0;
// 	width: 0;
// 	height: 0;
// }

// .is-active {
// 	height: calc(36px + 21.44px + 21.44px); //padding + margin do h1
// 	display: block;
// 	padding: 100px;
// 	width: 100%;
// }

.content {
  text-align: left;
  
  &__main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  
    @include media(medium) {
      flex-direction: row;
      flex: 3;
    }
  }

  @include media(medium) {
    flex-direction: row;
  }
}

.aside-nav {
	position: fixed;
	top: 110px;
  right: -290px;
	width: 290px;
	background-color: $azul-bg;
	border-bottom-left-radius: 10px;
	padding: .7em .5em;

  transition: all .5s;

  &.is-aside-nav--open {
    right: 0;
  }

  @include media(medium) {
    position: static;
    //top: 63px;
    flex: 1;
    background-color: unset;
    border: none;
    padding: 0;
  }
}

.aside-nav__bible {
  overflow: auto;
  height: calc(100vh - (110px + (0.7rem * 2) + 3px)); //subtract 110px of .nav-bible top & .7em padding top/bottom & few pixels to not touch the bottom
  text-align: center;

  &--books {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include media(medium) {
    height: 90vh;
    position: sticky;
    top: 63px;
  }
}


//**************
// capitulos.php
//**************
.entry-content {
  min-height: calc(100vh - (110px + (0.7rem * 2) + 3px)); //subtract 110px of .nav-bible top & .7em padding top/bottom & few pixels to not touch the bottom
}

.entry-content__title {
  font-style: italic;
}

.entry-content__intro {
  font-family: ffamily(serif);
  line-height: $content-line-height;

  @extend %link-bold--main;
}

.entry-content__chapter {
  @extend .entry-content__intro;
}

.entry-content__verse {
  
  &--more-info {
    font-size: small;
    padding: 10px;
    margin: 0 1.5em;
    font-style: italic;
    background-color: #fafad2;
    border-radius: 15px;
    box-shadow: 1px 1px 2px $purpura-light;
  }

  &--number {
    //position: relative; //sup tag already has it
    top: -3px;
    font-weight: bold;
    color: $text-muted;
  }

  &--cross-ref {
    font-family: ffamily(sans-serif);
    font-size: small;
    font-style: italic;

    @extend %link-bold--muted-v2;
  }
}

.breadcrumb-meta {
  margin-top: 0;

  @extend %link-bold--main;
}

.entry-content__copyright {
  border: 1px solid rgba(172, 175, 33, 0.35);
  font-style: italic;
  font-size: small;
  text-align: center;
  border-radius: 18px;
  margin: 2em 0.5em;
  font-family: ffamily(sans-serif);
  padding: 0 1em;
}

.content__error {
  line-height: $content-line-height;
  font-weight: bold;
  font-style: italic;
  margin: 2em;
}