//*************** 
// CONTENT HOME PAGE
//***************
.content {
  display: flex;
  flex-direction: column;
  padding-top: 3.9rem; // 4rem nao junta completamente

  &__instagram-feed,
  &__random-verse1,
  &__random-verse2 {
    margin: $block-spacing;
  }

  &__random-verse-link {
    font-weight: bold;
    @extend %link-bold--main;
  }

  @include media(medium) {
    //sass doesn't sum px and rem
    padding-top: calc(28px + 82px + 1.5rem); 
    //header-top (28px desktop) + header-main + margin-bottom
  }

  &__search {
    padding-top: 0;
  }

  &--center {
    text-align: center;
  }

  &--row {
    @include media(large) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

//************************
// WIDGET INSTAGRAM JUICER
//************************
.juicer-feed.loaded {
  overflow: hidden !important;
}

.juicer-feed h1.referral {
  display: none !important;
}

.juicer-feed {
  @include media(large) {
    max-width: 500px!important;
    max-height: 300px!important;
    min-width: 300px;
  }
}