//*****************
// CUSTOM SCROLLBAR
//*****************
html ::-webkit-scrollbar {
  width: .7em;
  
  &-track {
    border-radius: 10px;
    background-color: $branco;
    box-shadow: inset 0 0 6px $azul;

    &:hover {
      background: $azul-bg;
    }
  }

  &-thumb {
    background-color: $purpura; 
    border-radius: 10px;
    box-shadow: inset 0 0 6px;
    
    &:hover {
      background-color: $purpura-light;
    }
  }
}