//********************
// LINKS GLOBAL
//********************

%link-bold--main{
  & a {
    color: $purpura;
    font-weight: bold;

    &:hover,
    &:focus {
      color: $purpura-light;
    }
  }
}

.main__link--bold {
  color: $purpura;
  font-weight: bold;

  &:hover,
  &:focus {
    color: $purpura-light;
  }
}

.main__link--testament {
  padding-bottom: 2em;
}

%link-bold--muted{
  & a {
    color: $text-muted;
    font-weight: bold;

    &:hover,
    &:focus {
      color: $text-muted-dark;
    }
  }
}

//for cross references
%link-bold--muted-v2{
  & a {
    color: $text-muted;
    font-weight: bold;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $purpura;
    }
  }
}

%link-main {
  & .nav-link {
    color: $purpura;
    
    &:hover,
    &:focus {
      color: $purpura-light;
    }
  }
}

%link-social {
  color: $branco-hover;

  &.nav-link--facebook {
    background-color: #2f487c;

    &:hover,
    &:focus {
      color: $branco;
      background-color: #3b5998;
    }
  }
  &.nav-link--twitter {
    background-color: #458abe;

    &:hover,
    &:focus {
      color: $branco;
      background-color: #55acee;
    }
  }
  &.nav-link--instagram {
    background-color: #9e2c6d;

    &:hover,
    &:focus {
      color: $branco;
      background-color: #c13584;
    }
  }
}